.Balloon {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  z-index: 2;
  max-width: 600px;
  max-height: 400px;
  line-height: 1.2;
  padding: 10px;
  margin: 0;
  color: white;
  background-color: darkslateblue;
  border-radius: 5px;
  box-shadow: 2px 3px 5px #999;
  animation: balloon-bob 1.5s ease-in-out .3s infinite alternate forwards;
}

.Balloon::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid darkslateblue;
  border-left: 10px solid transparent;
}

.Balloon p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

@keyframes balloon-bob {
  0% {
    transform: translate(-50%, 10px);
  }
  50% {
    transform: translate(-50%, 6px);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}
