.Filters {
  min-width: 600px;
  padding: 1em;
}

.Filters .list-group .form-group {
  white-space: normal;
  margin-bottom: 10px;
}

.float-right-container:after {
  content: "";
  display: block;
  clear: both;
}

.float-right-container > * {
  float: right;
}
