div.LoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: white;
  background-color: gray;
}

div.LoadingOverlay.visible {
  display: block;
  opacity: 0;
  animation: LoadingOverlay-fadeIn 1.5s ease .4s 1 forwards;
}

div.LoadingOverlay.invisible {
  display: none;
}

div.LoadingOverlay div.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes LoadingOverlay-fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 0.7
  }
}

/* https://loading.io/css/ */

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 12px;
  box-sizing: border-box;
  border: 52px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
