/* @see https://codepen.io/ahdigital/pen/prXBzN */

.Loading {
  /* margin: 120px auto 0; */
}

div.Loading, .Loading div {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 8px;
  letter-spacing: 1px;
  line-height: 1.2;
}

.Loading .line {
  width: 2px;
  height: 12px;
  background: #fff;
  margin: 0 2px;
  display: inline-block;
  animation: opacity 1000ms infinite ease-in-out;
}

.Loading .line-1 { animation-delay: 800ms; }
.Loading .line-2 { animation-delay: 600ms; }
.Loading .line-3 { animation-delay: 400ms; }
.Loading .line-4 { animation-delay: 200ms; }
.Loading .line-6 { animation-delay: 200ms; }
.Loading .line-7 { animation-delay: 400ms; }
.Loading .line-8 { animation-delay: 600ms; }
.Loading .line-9 { animation-delay: 800ms; }

@keyframes opacity {
  0% {
    opacity: 1;
    height: 13px;
  }
  50% {
    opacity: 0;
    height: 10px;
  }
  100% {
    opacity: 1;
    height: 13px;
  }
}
