.LogContent {
  position: relative;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

#daterange-picker {
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#download-button {
  float: right;
}

.clearfix {
  display: block;
}

.log-text {
  border: 1px solid rgba(255, 99, 71, 0.5);
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0.5em;
  flex-grow: 1;
  overflow: auto;
}
