language: objective-c
cache:
  directories:
    - node_modules
env:
  - NODE_VERSION="8.11.3"
before_install:
  - git clone https://github.com/creationix/nvm.git /tmp/.nvm
  - source /tmp/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use --delete-prefix $NODE_VERSION
  - node --version
install:
  - npm install
before_script:
  - brew update
  - brew install wine
  - wine --version
  - brew install makensis
script:
  - npm test
  - npm run dist -- --mac --win --publish onTag
