.LogContent {
  position: relative;
  padding: 1em;
}

#daterange-picker {
  padding: 0.5em 1em;
  margin: 0 0 1em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#download-button {
  float: right;
}

.clearfix {
  display: block;
}
